# RCLONE_CMD=C:/rclone/rclone.exe
LOCAL_PATH=/home/grewi/proects/python/fotoarhiv/fotoarhiv
REMOTE_PATH=fotoarhiv
RCLONE_CONFIG_NAME=mysftp

SFTP_HOST=78.107.58.16
SFTP_PORT=3333
SFTP_USER=user
SFTP_PASS=123456

# Ограничения параллелизма

# Один файл за раз
SFTP_TRANSFERS=1
# Один канал SFTP
SFTP_CONCURRENCY=1
# Ограничить до 1 МБайт/с
SFTP_BWLIMIT=1M
# Общий таймаут 5 минут
SFTP_TIMEOUT=5m
# 5 попыток при ошибке
SFTP_RETRIES=5
# 10 низкоуровневых попыток
SFTO_LOW_LEVEL_RETRIES=10

# Размер блока 4MB
SFTP_CHUNK_SIZE=4M



